@media screen and (min-width:450px) and (max-width:700px) {
     /*BOTÃO DE VOLTAR*/
     .volta{
        top: 7px;
    }
    .volta a{
        width: 100px;
        height: 40px;
    }
    .volta img{
        height: 30px;
    }

    /*LOGO*/
    .logo-inicial{
        margin-top: 20px;
        margin-bottom: 65px;
    }
    .logo-inicial img{
        height: 125px;
        border-radius: 125px;
    }
    .form-interno{
        padding-top: 15px;
    }

    /*PARTE EXTERNA DO FORMULÁRIO*/
    .formulario{
        height:100%;
        width:430px;
        border-radius: 45px 45px 30px 30px;
        padding: 15px;
    }
    .nome{
        margin-top: 40px;
    }
    .avisos{
        margin-top: 40px;
    }
}

@media screen and (min-width:701px) and (max-width:900px) {
     /*BOTÃO DE VOLTAR*/
     .volta a{
        width: 100px;
        height: 40px;
    }
    .volta img{
        height: 30px;
    }

    /*LOGO*/
    .logo-inicial{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .logo-inicial img{
        height: 140px;
        border-radius: 125px;
    }

    /*PARTE EXTERNA DO FORMULÁRIO*/
    .formulario{
        height: 100%;
        width:650px;
        border-radius: 70px 70px 30px 30px;
        padding: 10px;
    }

    .form-interno{
        padding: 10px;
    }
}

@media screen and (min-width:901px) and (max-width:1200px) {
    /*LOGO*/
    .logo-inicial{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .logo-inicial img{
        height: 160px;
        border-radius: 125px;
    }

    /*PARTE EXTERNA DO FORMULÁRIO*/
    .formulario{
        height: 100%;
        width:890px;
        border-radius: 70px 30px 70px 30px;
        padding: 10px;
    }

    .form-interno{
        padding-top: 10px;
    }
}

@media screen and (min-width:1201px) and (max-width:1300px) {
    /*PARTE EXTERNA DO FORMULÁRIO*/
    .formulario{
        width:1190px;
        border-radius: 70px 30px 70px 30px;
    }
    .form-interno{
        padding-top: 40px;
    }
}
