@media screen and (min-width:450px) and (max-width:700px) {
     /*BOTÃO DE VOLTAR*/
     .volta{
        top: 7px;
    }
    .volta a{
        width: 100px;
        height: 40px;
    }
    .volta img{
        height: 30px;
    }

    /*LOGO*/
    .logo-inicial{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .logo-inicial img{
        height: 110px;
        border-radius: 110px;
    }
    .form-interno{
        padding-top: 1px;
    }

    /*PARTE EXTERNA DO FORMULÁRIO*/
    .formulario{
        height:100%;
        width:430px;
        border-radius: 70px 70px 30px 30px;
    }
    .nome{
        margin-top: 20px;
        font-family:'Montserrat';
    }
    .avisos{
        margin-top: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (min-width:701px) and (max-width:900px) {
     /*BOTÃO DE VOLTAR*/
     .volta a{
        width: 100px;
        height: 40px;
    }
    .volta img{
        height: 30px;
    }

    /*LOGO*/
    .logo-inicial{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .logo-inicial img{
        height: 140px;
        border-radius: 125px;
    }

    /*PARTE EXTERNA DO FORMULÁRIO*/
    .formulario{
        height: 100%;
        width:650px;
        border-radius: 70px 70px 30px 30px;
    }

    .form-interno{
        padding-top: 20px;
    }
}

@media screen and (min-width:901px) and (max-width:1200px) {
    body::before{
        height: 925px;
    }
    /*LOGO*/
    .logo-inicial{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .logo-inicial img{
        height: 160px;
        border-radius: 125px;
    }

    /*PARTE EXTERNA DO FORMULÁRIO*/
    .formulario{
        height: 100%;
        width:890px;
        border-radius: 70px 30px 70px 30px;
    }

    .form-interno{
        padding-top: 20px;
    }
}

